@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap');

$blackCoffee: #2e1f27;
$russet: #704021;
$sienna: #dd7230;
$linen: #f9eae1;
$avocado: #7cf286;

// General styling
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: lighten($linen, 5%);
    color: $blackCoffee;
    font-family: 'Baloo 2', cursive;

    // Navbar styling
    .top-nav {
        background: lighten($russet, 60%);
        display: flex;
        justify-content: space-between;
        padding: 12px 18px;

        a {
            text-decoration: none;
            color: darken($avocado, 50%);
            // font-weight: 500;
        }

        a:hover {
            color: darken($avocado, 30%);
        }

        .logo img {
            height: 25px;
        }

        .nav-right a {
            padding-left: 20px;
        }
    }

    #top-nav-flex {
        padding: 12px 18px;
        box-shadow: 2px 1px 8px 1px darken($linen, 5%);
    }

    h1, h2, h3 {
        font-family: 'Oxanium', cursive;
    }

    .banner {
        height: 380px;
        color: $blackCoffee;
        box-shadow: 2px 1px 8px 1px darken($linen, 5%);

        .logo {
            // border: 1px solid blue;
            height: 50%;
            width: 20vw;
            margin: 0 auto;
            padding-top: 30px;
        }

        .logo-caption {
            margin-top: 12px;
        }

        #learn-button {
            background: $blackCoffee;
        }

        #learn-button:hover {
            background: lighten($russet, 20%);
        }

        #signup-button {
            background: darken($sienna, 10%);
        }

        #signup-button:hover {
            background: lighten($sienna, 5%);
        }

        button {
            margin: 12px;
            height: 48px;
            width: 150px;
            border-radius: 24px;
            // border: 1px solid $linen;
            border: 1px solid transparent;
            background: darken($avocado, 45%);
            color: white;
            font-family: 'Baloo 2', cursive;
            font-size: 14px;
            font-weight: 500;
        }

        button:hover {
            background: darken($avocado, 30%);
            // border: 1px solid $blackCoffee;
            color: $blackCoffee;
            cursor: pointer;
        }
    }

    // Home page styling
    #home-wrapper {

        .banner {
            background: linear-gradient(lighten($russet, 60%), lighten($russet, 48%));
            text-align: center;

            button {
                box-shadow: 2px 5px 8px 1px lighten($russet, 40%);
            }
        }
    
        #home-info {
    
            width: 85%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            
            .home-info-box {
                flex: 1;
                margin: 10px;
                text-align: center;
    
                .home-info-icon {
                    // border: 1px solid blue;
                    height: 50%;
                    width: 50%;
                    margin: 0 auto;
                    padding-top: 20px;
                    margin-top: 20px;
                }
    
                h3 {
                    font-family: 'Oxanium', cursive;
                    margin: 18px 0 18px 0;
                    color: darken($avocado, 50%);
                }
        
                p {
                    margin: 0 auto;
                    width: 70%;
                }
            }        
        }
    }

    // Login page styling
    .login-wrapper {
        margin: 60px auto 0 auto;
        min-width: 500px;
        max-width: 35%;

        .logo {
            text-align: center;
            // border: 1px solid blue;
            height: 15%;
            width: 40%;
            margin: 0 auto;

            img {
                height: 100%;
            }
        }

        // .logo-caption {
        //     text-align: center;
        //     font-size: 18px;
        //     // font-family: 'Coda', cursive;
        // }

        .login-container {
            min-height: 30%;
            margin: 10px auto 10px auto;
            padding: 20px;
            border: 1px solid transparent;
            border-radius: 10px;
            background: lighten($russet, 62%);
            text-align: center;
            color: $linen;
            box-shadow: 2px 2px 8px 1px darken($linen, 5%);

            h3 {
                color: darken($russet, 10%);
                font-family: 'Oxanium', cursive;
                font-size: 24px;
            }

            hr {
                border-top: 1px solid darken($russet, 10%);
                border-radius: 50%;
                border-bottom: transparent;
                margin-bottom: 20px;
            }

            .login-signup-form {
                
                input {
                    font-family: 'Baloo 2', cursive;
                    margin: 10px;
                    height: 48px;
                    padding-left: 15px;
                    padding-right: 15px;
                    min-width: 300px;
                    max-width: 60%;
                    // border: 1px solid lighten($blackCoffee, 20%);
                    border: 1px solid transparent;
                    border-radius: 24px;
                    box-shadow: 2px 5px 8px 1px lighten($russet, 55%);
                }

                input:focus {
                    outline: none;
                }

                button {
                    margin-top: 30px;
                    margin-bottom: 20px;
                    height: 48px;
                    width: 150px;
                    border-radius: 24px;
                    // border: 1px solid $linen;
                    border: 1px solid transparent;
                    background: darken($avocado, 50%);
                    color: white;
                    font-family: 'Baloo 2', cursive;
                    font-size: 14px;
                    font-weight: 500;
                    box-shadow: 2px 5px 8px 1px lighten($russet, 55%);
                }

                button:hover {
                    background: darken($avocado, 30%);
                    // border: 1px solid $blackCoffee;
                    color: $blackCoffee;
                    cursor: pointer;
                }
            }

            .info {
                color: $sienna;
            }
        }

        .new-user {
            text-align: center;

            a {
                color: darken($avocado, 50%);
            }

            a:hover {
                color: darken($avocado, 30%);
            }
        }
    }

    // About page styling
    #about-wrapper {

        #about-banner {
            background: linear-gradient(lighten($russet, 60%), lighten($russet, 48%));

            #about-banner-content {
                width: 80%;
                margin: 0 auto;
                display: flex;

                #about-banner-left {
                    flex: 1;
                    border: 1px solid red;
                    margin-right: 10px;
                    height: 100%;

                    h1 {
                        margin-top: 0;
                        padding-top: 100px;
                    }

                    span {
                        color: darken($avocado, 50%);
                        font-weight: 500;
                    }
                }

                #about-banner-right {
                    flex: 1;
                    border: 1px solid blue;
                    margin-left: 10px;
                    padding-top: 100px;
                }
    
                button {
                    box-shadow: 2px 5px 8px 1px lighten($russet, 45%);
                }
            }
        }

        .panel {
            width: 80%;
            margin: 30px auto;

            .panel-content {
                display: flex;
                min-height: 200px;

                p {
                    margin-top: 0;
                }

                .panel-left {
                    flex: 1;
                    border: 1px solid red;
                    margin-right: 10px;
                }

                .panel-right {
                    flex: 1;
                    border: 1px solid blue;
                    margin-left: 10px;
                }
            }
        }
    }

    // User home page styling
    #top-nav-fixed {
        position: sticky;
        top: 0;
        // padding: 10px;
    }

    #user-wrapper {
        display: flex;
        justify-content: space-between;

        .left-nav {
            background: lighten($linen, 2%);
            width: 200px;
            display: block;
            position: fixed;
            top: 49.6px;
            height: 100%;

            a {
                text-decoration: none;
                color: darken($avocado, 50%);
            }

            .left-option {
                padding: 10px;
                border-bottom: 2px solid white;
            }

            .left-option:hover {
                background: lighten($avocado, 10%);
            }
        }

        .gallery {
            width: 100%;
            margin-left: 200px;

            .gallery-header {
                padding: 10px;
                padding-top: 20px;
                margin: 0 10px 0 10px;
            }

            // Broker overview styling
            #broker-info-container {
                display: flex;

                #broker-input-container {
                    width: 50%;
                    min-width: 220px;

                    #port-input-container {
                        // min-height: 30%;
                        margin: 10px;
                        margin-bottom: 20px;
                        padding: 10px;
                        border: 1px solid transparent;
                        border-radius: 10px;
                        background: lighten($russet, 62%);
                        text-align: center;
                        color: $linen;
                        box-shadow: 2px 2px 8px 1px darken($linen, 5%);
        
                        input {
                            font-family: 'Baloo 2', cursive;
                            margin: 10px;
                            height: 36px;
                            padding-left: 15px;
                            padding-right: 15px;
                            min-width: 90px;
                            width: 50%;
                            // border: 1px solid lighten($blackCoffee, 20%);
                            border: 1px solid transparent;
                            border-radius: 24px;
                            box-shadow: 2px 5px 8px 1px lighten($russet, 55%);
                        }
        
                        input:focus {
                            outline: none;
                        }
        
                        button {
                            margin-top: 10px;
                            // margin-bottom: 20px;
                            height: 28px;
                            width: 90px;
                            border-radius: 24px;
                            // border: 1px solid $linen;
                            border: 1px solid transparent;
                            background: darken($avocado, 50%);
                            color: white;
                            font-family: 'Baloo 2', cursive;
                            font-size: 14px;
                            font-weight: 500;
                            box-shadow: 2px 5px 8px 1px lighten($russet, 55%);
                        }
        
                        button:hover {
                            background: darken($avocado, 30%);
                            // border: 1px solid $blackCoffee;
                            color: $blackCoffee;
                            cursor: pointer;
                        }
                    }

                    #topic-info-form {
                        margin: 10px;
                        padding: 10px;
                        border: 1px solid transparent;
                        border-radius: 10px;
                        background: lighten($russet, 62%);
                        text-align: center;
                        color: $linen;
                        box-shadow: 2px 2px 8px 1px darken($linen, 5%);
        
                        input {
                            font-family: 'Baloo 2', cursive;
                            margin: 10px;
                            height: 36px;
                            padding-left: 15px;
                            padding-right: 15px;
                            min-width: 160px;
                            width: 50%;
                            // border: 1px solid lighten($blackCoffee, 20%);
                            border: 1px solid transparent;
                            border-radius: 24px;
                            box-shadow: 2px 5px 8px 1px lighten($russet, 55%);
                        }
        
                        input:focus {
                            outline: none;
                        }
        
                        button {
                            margin-top: 10px;
                            // margin-bottom: 20px;
                            height: 28px;
                            width: 160px;
                            border-radius: 24px;
                            // border: 1px solid $linen;
                            border: 1px solid transparent;
                            background: darken($avocado, 50%);
                            color: white;
                            font-family: 'Baloo 2', cursive;
                            font-size: 14px;
                            font-weight: 500;
                            box-shadow: 2px 5px 8px 1px lighten($russet, 55%);
                        }
        
                        button:hover {
                            background: darken($avocado, 30%);
                            // border: 1px solid $blackCoffee;
                            color: $blackCoffee;
                            cursor: pointer;
                        }
                    }

                    #submit-button-wrapper {
                        text-align: center;
                        margin: 30px;

                        a {
                            height: 48px;
                            min-width: 120px;
                            padding: 10px;
                            margin: 10px auto;
                            border-radius: 24px;
                            border: 1px solid transparent;
                            background: darken($sienna, 10%);
                            color: white;
                            font-family: 'Baloo 2', cursive;
                            font-size: 16px;
                            font-weight: 500;
                            box-shadow: 2px 5px 8px 1px darken($linen, 3%);
                            text-decoration: none;
                        }

                        button:hover {
                            background: lighten($sienna, 20%);
                            color: $blackCoffee;
                            cursor: pointer;
                        }

                        input {
                            margin-left: 10px;
                        }
                    }
                }

                #current-info-container {
                    width: 50%;
                    
                    h3 {
                        margin: 10px;
                    }

                    #current-topics-container {
                        margin: 10px;
                        width: 90%;

                        .topic-entry {
                            margin: 10px;
                            padding: 10px;
                            width: 90%;
                            background: $linen;

                            p {
                                margin: 0;
                            }
                        }
                    }
                }
            }


            // BELOW is all from the previous iteration of the overview page -- styling for broker cards
            // .cards-container {
            //     display: grid;
            //     grid-template-columns: repeat(4, 1fr);
            //     grid-template-rows: repeat(auto-fill, auto);
            //     grid-row-gap: 0.5em;
            //     grid-column-gap: 0.5em;
            //     background-color: inherit;
            //     padding: 10px;
    
            //     // Broker cards styling
            //     .broker-card {
            //         background: $linen;
            //         padding: 10px;
            //         border: 1px solid darken($linen, 5%);
            //         border-radius: 5px;

            //         h3 {
            //             font-size: 16px;
            //             margin: 0;
            //         }

            //         hr {
            //             border-top: 1px solid darken($russet, 10%);
            //             border-radius: 50%;
            //             border-bottom: transparent;
            //             margin-bottom: 10px;
            //         }

            //         p {
            //             margin: 5px 0 5px 0;
            //         }

            //         button {
            //             // height: 28px;
            //             width: 46%;
            //             border: 1px solid transparent;
            //             margin: 2%;
            //             background: darken($avocado, 50%);
            //             color: white;
            //             font-family: 'Baloo 2', cursive;
            //             font-size: 14px;
            //             box-shadow: 2px 1px 8px 1px darken($linen, 10%);

            //         }
            
            //         button:hover {
            //             cursor: pointer;
            //         }

            //         #view-button {
            //             background: darken($avocado, 50%);
            //             margin-top: 0;
            //         }

            //         #view-button:hover {
            //             background: darken($avocado, 40%);
            //         }

            //         #remove-button {
            //             background: rgb(172, 3, 3);
            //             margin-top: 0;
            //         }

            //         #remove-button:hover {
            //             background:red;
            //         }
            //     }

            //     #add-new-topic-container {
            //         margin: 0 auto;
            //         width: 100%;

            //         button {
            //             margin-top: 45%;
            //             border: 1px solid transparent;
            //             padding: 5px;
            //             border-radius: 100px;
            //             background: darken($avocado, 50%);
            //             color: white;
            //             font-family: 'Baloo 2', cursive;
            //             font-size: 14px;
            //             box-shadow: 2px 1px 8px 1px darken($linen, 5%);
            //         }

            //         button:hover {
            //             cursor: pointer;
            //             background: darken($avocado, 40%);
            //         }
            //     }
            // }
        }        
    }

    // Broker details styling
    #broker-wrapper {

        background: linear-gradient(lighten($avocado, 25%), lighten($avocado, 18%));

        .tab-container {
            
            button {
                background: lighten($sienna, 25%);
                padding: 12px;
                border: 1px solid lighten($linen, 5%);
                border-radius: 5px 5px 0 0;
                font-family: 'Baloo 2', cursive;
                font-size: 16px;
            }

            button:hover {
                cursor: pointer;
                background: $linen;
            }
        }

        #metric-box {
            background: lighten($linen, 5%);
            padding-top: 10px;

            .metrics-container {
                background: $linen;
                margin: 0 20px 20px 20px;
                padding: 10px;
            }
        }

        h3 {
            margin: 0;
            font-size: 16px;
        }
        
        #lead-metrics-container {
            // background: yellow;
            display: flex;

            .metrics-overview-box {
                background: $blackCoffee;
                color: white;
                width: 25%;
                margin: 10px 10px 10px 20px;
                padding: 10px;

                .single-topic {
                    margin-bottom: 5px;
                }

                h3 {
                    color: lighten($avocado, 20%);
                    margin-bottom: 10px;
                }

                hr {
                    border-top: 1px solid $linen;
                    border-radius: 50%;
                    border-bottom: transparent;
                    margin-bottom: 20px;
                }

                p {
                    margin: 0;

                    strong {
                        color: lighten($sienna, 20%);
                    }
                }
            }

            .metric-panel {
                background: $linen;
                width: 75%;
                margin: 10px 20px 10px 10px;
                padding: 10px;

                h3 {
                    margin-bottom: 10px;
                }
            }
        }


    }
}